<h1><%= @user.first_name.capitalize %>'s Helpers</h1>

<p><%= link_to 'Add a New Relationship', new_relationship_url %></p>

<table>
  <thead>
    <tr>
      <th>Principal</th>
      <th>Custodian</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @relationships.each do |relationship| %>
    <tr>
      <td><%= relationship.principal_id %></td>
      <td><%= relationship.custodian_id %></td>

      <td><%= link_to 'Show', relationship_url(relationship) %></td>
      <td><%= link_to 'Edit', edit_relationship_url(relationship) %></td>
      <td><%= link_to 'Destroy', relationship_url(relationship), method: 'delete', data: { confirm: "Do you really want to remove this person as a helper?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

