<h1><%= @user.first_name.capitalize %>'s Helpers</h1>

<p><%= link_to 'Add a New Helper', new_relationship_url %></p>

<table>
  <thead>
    <tr>
      <th>Helper</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= @relationships.each do |custodian| %>
    <tr>
      <td><%= custodian.email_address %></td>

      <td><%= link_to 'Show', relationship_url(relationship) %></td>
      <td><%= link_to 'Edit', edit_relationship_url(relationship) %></td>
      <td><%= link_to 'Destroy', relationship_url(relationship), method: 'delete', data: { confirm: "Do you really want to remove this person as a helper?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

