<h1><%= @user.first_name.capitalize unless @user.first_name.blank? %>'s Relationships</h1>

<p><%= link_to 'Add a New Helper', new_relationship_url, class: "btn btn-primary btn-small" %></p>

<h2>My Helpers</h2>

<% if @principal_relationships.blank? %>
        <h4> None so far. </h4>
<% else %>
  <table class='table'>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Email Address</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @principal_relationships.each do |relationship| %>
        <tr>
          <td><%= relationship.custodian.first_name %></td>
          <td><%= relationship.custodian.email_address %></td>
          <td><%= link_to 'Edit', edit_relationship_url(relationship), class: "btn btn-mini" %> <%= link_to 'Remove', relationship_url(relationship), class: "btn btn-mini", method: 'delete', data: { confirm: "Do you really want to remove this person as a helper?" } %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>People I'm helping</h2>

<% if @custodian_relationships.blank? %>
  <h4> None so far. </h4>

<% else %>
  <table class='table'>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Email Address</th>
      </tr>
    </thead>

    <tbody>
      <% @custodian_relationships.each do |relationship| %>
        <tr>
          <td><%= relationship.principal.first_name.capitalize %></td>
          <td><%= relationship.principal.email_address %></td>
          <td><%= link_to 'View Info', relationship.principal, class: 'btn btn-small btn-success' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
