<h1>Editing Bank #<%= @bank.id %></h1>


<%= form_tag(bank_url(@bank), method: 'put') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @bank.name %>
  </div>

  <div>
    <%= label_tag :notes %><br />
    <%= text_area_tag :notes, @bank.notes %>
  </div>

    
  <div>
    <%= submit_tag "Update Bank" %>
  </div>

<% end %>
