<h1><%= @user.first_name.capitalize %>'s Banks</h1>

<p><%= link_to 'Add a New Bank', new_bank_url, class: "btn btn-primary btn-small" %></p>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @banks.each do |bank| %>
    <tr>
      <td><%= bank.name %></td>
      <td><%= bank.notes %></td>
      <td><% if @user.admin? %>
          <%= bank.user_id %>
          <%  end %> </td>

      <td><%= link_to 'Show', bank_url(bank), class: "btn btn-mini" %>
          <%= link_to 'Edit', edit_bank_url(bank), class: "btn btn-mini" %>
          <%= link_to 'Destroy', bank_url(bank), class: "btn btn-mini", method: 'delete', data: { confirm: "Do you really want to delete this bank?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>
