<h1>New Bank</h1>


<%= form_tag(banks_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :notes %><br />
    <%= text_area_tag :notes %>
  </div>

   <div>
    <%= submit_tag "Create Bank" %>
  </div>
<% end %>
