<h1> Sign up</h1>

<%= form_tag(users_url, method: 'post') do %>


  <div>
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name %>
  </div>

  <div>
    <%= label_tag :last_name %><br />
    <%= text_field_tag :last_name %>
  </div>

  <div>
    <%= label_tag :email_address %><br />
    <%= text_field_tag :email_address %>
  </div>


  <div>
    <%= submit_tag "Create User" %>
  </div>
<% end %>
