<h1><%= User.find_by_id(session["user_id"]).first_name %>'s account</h1>
<div class="row">
<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @user.email_address %>
</p>



<%= link_to 'Edit user profile', edit_user_url(@user), class: "btn btn-small" %>

<%= link_to 'Add a bank', new_bank_url(@user), class: "btn btn-small" %>

<div class="span8">
    <%if @user.banks.any? %>
    <h3> Banks </h3>
    <ol class="banks">
        <% User.find_by_id(session["user_id"]).banks.each do |bank| %>
           <tr>
      <td><h2><%= bank.name %></h2></td>
      <td><%= bank.notes %></td>
           </tr>
      </ol>
      <% end %>
      <% end %>
    </div>

