<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "IncapacitationPlan.com", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if session["user_id"].present? %>
          <li><h4> Hello, <%= User.find_by_id(session["user_id"]).first_name %>!</h4></li>
          <li> <%= link_to "Sign out", "/logout" %></li>
          <li> <%= link_to "My Account", "/users/#{session["user_id"]}" %></li>
            <% else %>
            <li><%= link_to "Sign up", '/users/new' %> </li>
            <li><%= link_to "Sign in", '/login' %> </li>
            <% end %>
            <li><%= link_to "Contact", contact_path %> </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
